{{- define "main" }}
{{- $showmeta := default (default true $.Site.Params.showMeta) .Params.showmeta }}
<div>
  {{- if $showmeta }}
  <div>
    <div>
      <h2 class="post-title">
        {{ if .Draft }}DRAFT: {{ end }}
        {{ .Title }}
      </h2>
      {{ if  not .Params.standalone }}
      <div class="post-author">
        By <a href="/about">{{ .Site.Author.name }}</a>
      </div>
      {{ end }}
    </div>
    {{ partial "post_meta.html" . }}
  </div>
  {{- end }}
  <div>
    {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
      <img src="{{ .Params.banner | absURL }}" class="article-banner">
    {{ end }}
  </div>
  <div class="post-content">
    {{ .Content }}
  </div>
</div>

{{ if  not .Params.standalone }}
{{ partial "utterances" . }}
{{ end }}

{{- end }}
