{{- $showdate := default (default false $.Site.Params.showMetaDates) .Params.showmetadates }}
{{- $showlink := default (default false $.Site.Params.showMetaLinks) .Params.showmetalinks }}
{{- if or $showdate $showlink }}


<div class="post-meta">
  <div style="display:inline-block">
  {{- if $showdate }}

    {{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
    <span class='posted-on'>
      {{ partial "icons/icons.html" "calendar-pen" }}
      
      <span class='post-meta-label'> 
        <time  class="timeago" datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' 
               title='{{ .Date.Format "2006-01-02" }}'>
        </time>
      </span>
    </span>

    <span>
      {{ partial "icons/icons.html" "person-edit" }}
      <span class='post-meta-label'> euikook</span>
    </span>

    <span>
      {{ partial "icons/icons.html" "schedule" }}
      <span class='post-meta-label'>{{ .ReadingTime }} mins read</span>
    </span>

    
    {{/* {{- if ne .Date .Lastmod }}
      <div>
        <span>Last modified</span> &#x5b;
        <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Lastmod.Format (default "02 Jan 06 15:04 MST" .Site.Params.dateFmt) }}
        </time>
        &#x5d;
      </div>
    {{- end }} */}}
  {{- end }}
  </div>

  
  {{/* {{- if $showlink }}
    {{- $fallback := slice (dict "Identifier" "Categories") (dict "Identifier" "Series") (dict "Identifier" "Tags") }}
    {{- range default $fallback .Site.Menus.meta }}
      <div>
      {{- $taxo := $.Param .Identifier }}
      {{- if $taxo }}
        {{ $name := default .Identifier .Name }}
        {{ $link := default .Identifier .URL }}
          <span{{ if .Title }} title="{{ .Title }}"{{ end }}>{{ $name }}</span> &#x5b;
        {{- range $taxo }}
          {{- $perma := lower (path.Join $link (urlize .)) }}
          <a href="{{ relURL $perma }}">{{ . }}</a>
        {{- end }}
          &#x5d;
      {{- end }}
      </div>
    {{- end }}
  {{- end }} */}}
</div>
{{- end }}
